ALGUEL_POSTGRES_DB=aluguelfacil
ALGUEL_POSTGRES_USER=aluguelfacil
ALGUEL_POSTGRES_PASSWORD=suasenha
ALGUEL_SECRET_KEY=gerar_uma_chave_secreta_aqui
ALGUEL_ALLOWED_HOSTS=*
ALGUEL_CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,https://seudominio.com